In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json

import sys
import os

In [37]:
control_log = "../tools/search/log/"
bounded_log = "../tools/search/log_bounded/"

In [38]:
control_directories = os.listdir(path=control_log)
bounded_directories = os.listdir(path=bounded_log)

In [39]:
bounded_directories

['54077_dd26efde_0000',
 '33967_0741e236_0002',
 '142764_e4f86a3b_0000',
 '77211_d46ae17d_0013',
 '.DS_Store',
 '30246_6e835e6d_0001',
 '41026_295d1dc8_0003',
 '41234_74275eb0_0009',
 '22457_a6c2776f_0008',
 '27839_4a077326_0010',
 '65211_73eab9de_0000',
 'search_results.json',
 '22432_e4a51ee9_0006']

In [40]:
dict_df = {'uuid': [],
             'used_budget': [],
             'max_iou': [],
             'exact': [],
             'bounded': [],
              'feature_operation': []}

In [41]:
bounded = False
for directory in control_directories:
    # Return all files within directory
    try:
        files = os.listdir(os.path.join(control_log, directory))
        for file in files:
            if file.endswith('.json'):
                with open(os.path.join(control_log, directory, file), 'r') as f:
                    f = json.load(f)
                    dict_df['uuid'].append(directory)
                    dict_df['used_budget'].append(f[-1]['used_budget'])
                    dict_df['max_iou'].append(f[-1]['max_iou'])
                    dict_df['exact'].append(True if f[-1]['max_iou'] > 0.99999999 else False)
                    dict_df['bounded'].append(bounded)
    except NotADirectoryError:
        print("{} is not a directory".format(directory))
        
bounded = True
for directory in bounded_directories:
    # Return all files within directory
    try:
        files = os.listdir(os.path.join(bounded_log, directory))
        for file in files:
            if file.endswith('.json'):
                with open(os.path.join(bounded_log, directory, file), 'r') as f:
                    f = json.load(f)
                    dict_df['uuid'].append(directory)
                    dict_df['used_budget'].append(f[-1]['used_budget'])
                    dict_df['max_iou'].append(f[-1]['max_iou'])
                    dict_df['exact'].append(True if f[-1]['max_iou'] > 0.99999999 else False)
                    dict_df['bounded'].append(bounded)
    except NotADirectoryError:
        print("{} is not a directory".format(directory))

.DS_Store is not a directory
search_results.json is not a directory
.DS_Store is not a directory
search_results.json is not a directory

In [42]:
dict_df

{'uuid': ['54077_dd26efde_0000',
  '33967_0741e236_0002',
  '142764_e4f86a3b_0000',
  '77211_d46ae17d_0013',
  '30246_6e835e6d_0001',
  '41026_295d1dc8_0003',
  '41234_74275eb0_0009',
  '22457_a6c2776f_0008',
  '27839_4a077326_0010',
  '65211_73eab9de_0000',
  '22432_e4a51ee9_0006',
  '54077_dd26efde_0000',
  '33967_0741e236_0002',
  '142764_e4f86a3b_0000',
  '77211_d46ae17d_0013',
  '30246_6e835e6d_0001',
  '41026_295d1dc8_0003',
  '41234_74275eb0_0009',
  '22457_a6c2776f_0008',
  '27839_4a077326_0010',
  '65211_73eab9de_0000',
  '22432_e4a51ee9_0006'],
 'used_budget': [20,
  2,
  1,
  20,
  5,
  1,
  8,
  1,
  1,
  20,
  20,
  20,
  20,
  20,
  20,
  20,
  20,
  20,
  20,
  20,
  20,
  20],
 'max_iou': [0.8885589429711583,
  1.0,
  1.0,
  0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  0.9996491787019813,
  0.8846035521300826,
  0.056893078284160514,
  0.1866434059880256,
  0,
  0,
  0.5745608575960637,
  0,
  0.7699510644313011,
  0,
  0,
  0.9436155308507842,
  0.7037559354410343],
 'exact': [False,
  True,
  True,
  False,
  True,
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False],
 'bounded': [False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True]}

In [43]:
df = pd.DataFrame(dict_df)
df.tail()

                   uuid  used_budget   max_iou  exact  bounded
17  41234_74275eb0_0009           20  0.769951  False     True
18  22457_a6c2776f_0008           20  0.000000  False     True
19  27839_4a077326_0010           20  0.000000  False     True
20  65211_73eab9de_0000           20  0.943616  False     True
21  22432_e4a51ee9_0006           20  0.703756  False     True

In [44]:
df.groupby(by='bounded').describe()

        used_budget                                              max_iou  \
              count  mean      std   min   25%   50%   75%   max   count
bounded
False          11.0   9.0  8.97775   1.0   1.0   5.0  20.0  20.0    11.0
True           11.0  20.0  0.00000  20.0  20.0  20.0  20.0  20.0    11.0


             mean       std  min       25%       50%       75%       max
bounded
False    0.888437  0.298132  0.0  0.944104  1.000000  1.000000  1.000000
True     0.294129  0.373506  0.0  0.000000  0.056893  0.639158  0.943616